<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
</head>
<body>
    <div>
        <h1><span></span> Node Authentication</h1>

        <p>Login or Register with:</p>

        <a href="/login"><span></span> Local Login</a>
        <a href="/signup"><span></span> Local Signup</a>
    </div>


</body>
</html>
